{
  "singleQuote": false,
  "proseWrap": "never",
  "printWidth": 70,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-vue"],
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": true
}
