/*CSS classes shared by the whole app*/
div:not(#app) {
}

/*CSS classes used for development*/
.mock {
  /* border-style: solid; */
  /* border-color: black; */
  /* margin: 5px; */
}

.navigation-header {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.navigation-header > * {
  min-height: 50px;
  min-width: 50px;
}

.transparent-overlay {
  position: fixed;
  opacity: 0.6;
}
