/*CSS classes shared by the whole app*/



/*CSS classes used for development*/
.mock {
  border-style: solid;
  border-color: black;
  margin: 5px;
  align-items: center;
}

.navigation-header {
  display: flex;
  align-items: stretch;
  min-height: 50px;

}

.navigation-header>* {
  flex: 1;
}
