@import "tailwindcss";

@theme {
  --color-paper: #070c0e;
  --color-text: #eef4f6;

  --color-primary: #a3c3d1;
  --color-secondary: #3a3f74;
  --color-muted: #1f2a30;
  --color-acent: #8674b9;

  --color-highlight: rgba(120, 120, 120, 0.5);

  --color-border: #444;
  /* --color-border: rgbda(255, 255, 255, 0.1); */
}

/* Utils */
.border-top {
  @apply border-t;
  border-color: var(--color-border);
}
.border-bottom {
  @apply border-b;
  border-color: var(--color-border);
}

/* Buttons */
.btn-primary {
  @apply bg-transparent hover:bg-(--color-muted) text-(--color-text) text-lg font-semibold py-2 px-4 shadow-md transition-colors duration-200;
}

/* UX */
.horizontal-splitter {
  @apply bg-(--color-muted) w-1;
}
.vertical-splitter {
  @apply bg-(--color-muted) h-1;
}

:root {
  @apply text-base;
  background-color: var(--color-paper);
  color: var(--color-text);
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  font-weight: normal bold;
  /**/
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /**/
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /**/
  /* --global-font-size: 16px; */
}

/* 
* Resetting browser defaults
*/
* {
  /* margin: 0; */
  /* padding: 0; */
  /* border: 1px solid red !important; */
  /* overflow: auto; */
  /* box-sizing: border-box; */
  /* min-height: 0; */
}

html,
body,
#app {
  height: 100%;
  /* margin: 0; */
  /* padding: 0; */

  /* font-size: var(--global-font-size); */
}

button,
select,
textarea {
  /* color: white; */
  /* background-color: transparent; */
  /* border-style: none; */
}

input {
  /* color: white; */
  /* background-color: #444; */
}

button {
  /* padding: 0 1rem; */
  /* cursor: pointer; */
}

button:hover {
  /* background-color: #555555; */
}

button:disabled {
  /* background-color: #666; */
  /* cursor: not-allowed; */
}

.popping-button {
  /* background-color: #444; */
  /**/
  /* padding: 0.5rem; */
  /**/
  /* border-radius: 0.5rem; */
  border: 1px solid black;
}

/*
* Utility classes
*/

/*
* Mock styling for high-contrasted visuals during development
*/

.mock {
  border: solid red 2px;
}
