:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --global-font-size: 16px;
}

/* 
* Resetting browser defaults
*/
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red !important; */
  /* overflow: auto; */
  box-sizing: border-box;
  min-height: 0;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;

  font-size: var(--global-font-size);
}

button,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

input {
  background-color: #444;
}

button {
  padding: 0 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #555555;
}

button:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.popping-button {
  background-color: #444;

  padding: 0.5rem;

  border-radius: 0.5rem;
  border: 1px solid black;
}

/*
* Utility classes
*/

/*
* Mock styling for high-contrasted visuals during development
*/

.mock {
  border-style: solid;
  border-color: red;
}
